<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>Trial1</servlet-name>
		<servlet-class>Trial1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Trial1</servlet-name>
		<url-pattern>/Trial1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Trial2</servlet-name>
		<servlet-class>Trial2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Trial2</servlet-name>
		<url-pattern>/Trial2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Trial3</servlet-name>
		<servlet-class>Trial3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Trial3</servlet-name>
		<url-pattern>/Trial3</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Trial4</servlet-name>
		<servlet-class>Trial4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Trial4</servlet-name>
		<url-pattern>/Trial4</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Trial5</servlet-name>
		<servlet-class>Trial5</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Trial5</servlet-name>
		<url-pattern>/Trial5</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Trial6</servlet-name>
		<servlet-class>Trial6</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Trial6</servlet-name>
		<url-pattern>/Trial6</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Trial7</servlet-name>
		<servlet-class>Trial7</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Trial7</servlet-name>
		<url-pattern>/Trial7</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Trial8</servlet-name>
		<servlet-class>Trial8</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Trial8</servlet-name>
		<url-pattern>/Trial8</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Servlet1</servlet-name>
		<servlet-class>Servlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet1</servlet-name>
		<url-pattern>/Servlet1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Servlet2</servlet-name>
		<servlet-class>Servlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet2</servlet-name>
		<url-pattern>/Servlet2</url-pattern>
	</servlet-mapping>
</web-app>


