<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<context-param>
		<param-name>driver</param-name>
		<param-value>Type_4</param-value>
	</context-param>
	<servlet>
		<servlet-name>FirstServ</servlet-name>
		<servlet-class>FirstServ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FirstServ</servlet-name>
		<url-pattern>/FirstServ</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FirstServ1</servlet-name>
		<servlet-class>FirstServ1</servlet-class>
		<init-param>
			<param-name>database</param-name>
			<param-value>Mysql</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>FirstServ1</servlet-name>
		<url-pattern>/FirstServ1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SecondServ</servlet-name>
		<servlet-class>SecondServ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SecondServ</servlet-name>
		<url-pattern>/SecondServ</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ThirdServ</servlet-name>
		<servlet-class>ThirdServ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ThirdServ</servlet-name>
		<url-pattern>/ThirdServ</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FourthServ</servlet-name>
		<servlet-class>FourthServ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FourthServ</servlet-name>
		<url-pattern>/FourthServ</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FourthServ1</servlet-name>
		<servlet-class>FourthServ1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FourthServ1</servlet-name>
		<url-pattern>/FourthServ1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ConPoolServ</servlet-name>
		<servlet-class>ConPoolServ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConPoolServ</servlet-name>
		<url-pattern>/ConPoolServ</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ConPoolServ1</servlet-name>
		<servlet-class>ConPoolServ1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConPoolServ1</servlet-name>
		<url-pattern>/ConPoolServ1</url-pattern>
	</servlet-mapping>
</web-app>

